/* BOARD */

#board-cover,
#pentagoo-board{
position: absolute;
width: 520px;
height: 520px;
left: 100px;
}

.subboard-container{
line-height: 2em;
padding: 0;
}

.subboard-container div{
width: 260px;
height: 260px;
position: relative;
color: inherit;
background: #fff url(images/pentago-subboard-90deg.png) no-repeat;
}
#sb-c-1 div{
background-position: bottom right;
}
#sb-c-2 div{
background-position: bottom left;
}
#sb-c-3 div{
background-position: top right;
}

.subboard-container .subboard-1{
background-image: url(images/pentago-subboard-15deg.png);
}
.subboard-container .subboard-2{
background-image: url(images/pentago-subboard-30deg.png);
}
.subboard-container .subboard-3{
background-image: url(images/pentago-subboard-45deg.png);
}
.subboard-container .subboard-4{
background-image: url(images/pentago-subboard-60deg.png);
}
.subboard-container .subboard-5{
background-image: url(images/pentago-subboard-75deg.png);
}

.subboard-container table,
.subboard-container .rotation-buttons{
width: 180px;
height: 180px;
position: absolute;
line-height: 0px;
margin: 0;
padding: 0;
border: 0;
}

.subboard-container table{
z-index: 20;
}

#sb-1,
#sb-c-1 .rotation-buttons{
bottom: 5px;
right: 5px;
}
#sb-2,
#sb-c-2 .rotation-buttons{
bottom: 5px;
left: 5px;
}
#sb-3,
#sb-c-3 .rotation-buttons{
top: 5px;
right: 5px;
}
#sb-4,
#sb-c-4 .rotation-buttons{
top: 5px;
left: 5px;
}

.subboard-container table td,
.subboard-container table td span{
width: 60px;
height: 60px;
padding: 0;
margin: 0;
color: inherit;
background-color: transparent;
background-position: center;
background-repeat: no-repeat;
}

.subboard-container table td span{
display: block;
}

.subboard-container table td.last,
.subboard-container table td.win{
background-image: url(images/highlight-marble.png);
}

.subboard-container table td.p1 span,
.subboard-container table td.p1 span.p1{
background-image: url(images/white-marble.png);
}

.subboard-container table td.p2 span,
.subboard-container table td.p2 span.p2{
background-image: url(images/black-marble.png);
}

.subboard-container table td.space.highlight{
background-image: url(images/space-select.png);
cursor: pointer;
}
.subboard-container table td.highlight{
background-image: url(images/marble-select.png);
}

/* ROTATION BUTTONS */

.subboard-container .rotation-buttons{
z-index: 30;
background-image: url(images/dummy.png); /* fix IE bug with opaque elements */
}

.rotation-buttons a{
position: absolute;
width: 50px;
height: 50px;
color: inherit;
background: transparent url(images/rotate-arrows.png) no-repeat;
text-indent: -999em;
z-index: 30;
overflow: auto;
cursor: pointer;
}

.rotation-buttons .rotate-left{
left: 30px;
bottom: 30px;
}
.rotation-buttons .rotate-left.highlight{
background-position: bottom left;
}

.rotation-buttons .rotate-right{
background-position: top right;
right: 30px;
top: 30px;
}
.rotation-buttons .rotate-right.highlight{
background-position: bottom right;
}

/* PLAYER LABELS */

#player-labels{
margin: 0 0;
padding: 0;
}

#player-labels li{
position: absolute;
bottom: 0;
left: 100px;
z-index: 100;
width: 200px;
margin-left: 30px;
padding: 5px 0;
list-style: none;
color: #999;
background-color: transparent;
}

#player-labels li.current{
color: #333;
background: transparent url(images/player-busy.gif) repeat-x bottom center;
font-weight: bold;
font-size: 1.1em;
}

#player-labels #player-2-label{
left: 360px;
}

#player-1-type,
#player-2-type{
color: #aaa;
background-color: transparent;
font-weight: normal;
border-left: 1px solid #ddd;
padding-left: .5em;
margin-left: .5em;
line-height: 1em;
}